
<%= form_for @plan, :html=>{:class=>'form-horizontal',:style=>"padding-left: 300px"} do |f| %>
    <% if @plan.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @plan.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name,:class => "control-label" %><br />
      <div class= "controls">
        <%= f.text_field :name,:class=>"resize_text" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description,:class => "control-label" %><br />
      <div class= "controls">
        <%= f.text_area :description,:class=>"resize_textarea" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label"Amounts in cents",:class => "control-label" %><br />
      <div class= "controls">
        <%= f.text_field :amount,:class=>"resize_text" %>
      </div>
    </div>
    <div  style = "margin-left:180px;">
      <%= f.submit`Create Plan`,class: "btn btn-primary" %>
      <%= link_to 'Back', plans_path,:class=>"btn btn-primary"%>
    </div>
<% end %>

